@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

li:hover {

  background-color: blue;

}

li:active {
  color: white;
  font-family: 'Comforter Brush', cursive;
}


.align-text {
  text-align: center;
}

ul, ol {
  list-style: none;
}